# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
.yarn/install-state.gz

# testing
/coverage
/backend/test_local.py

# next.js
/frontend/.next/
/frontend/out/
.next

# production
/frontend//build

# misc
.DS_Store
*.pem
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
**/__pycache__

# don't forget to set this
/backend/SUPER-SECRET-PASSWORD

# secret key for cookies
/backend/secret_key

### DO NOT PUSH THE DAMN DATABASE
/backend/db

# just in case
/.venv


# bun lock file
/frontend/bun.lockb
node_modules
